<div id="game_page" class="row-fluid">
	<div class="hero-unit">
		<div class="row-fluid">
			<h2 class="">{{game.name}}</h2>
		</div>
		<div class="row-fluid">
			<div class="span3">	
				<div class="row-fluid">
						<img class="img-polaroid left" src="{{game.image}}" alt="{{game.name}}">
				</div>
				<div class="row-fluid">
					<p class="description">{{game.description}}</p>
				</div>
			</div>
			<div class="span9">

				<div class="row-fluid">
					<iframe id="gameframe" width="{{game.width}}" height="{{game.height}}" src="{{game.url}}"></iframe>
				</div>
				<div class="row-fluid">
					<h3> Achievements </h3>
					<div>Points: {{game.points}} </div>
					<div>Global Rank: {{game.rank}} </div>
				</div>
			</div>
		</div>
	</div>
</div>