<div class="row-fluid">
	<div class="span2">
		<h3>Profile picture</h3>
		<img class="img-polaroid" src="{{user.image}}"/>
	</div>
	<div class="span4">
		<h3>Update Informations</h3>

		<div class="input-prepend">
			<span class="add-on">Username</span>
			<input id="prependedInput" type="text" ng-model="user.username" placeholder="{{user.username}}">
		</div>

		<div class="input-prepend">
			<span class="add-on">Nick name</span>
			<input id="prependedInput" type="text" placeholder="{{user.nickname}}">
		</div>

		<label>Description</label>
		<textarea rows="3" class="span12"> {{user.about}}</textarea>
		<button type="button" class="btn btn-primary" ng-click="editprofile()" data-loading-text="Loading...">Save</button>
	</div>
</div>
