/* CSS Document */


body {
	width:482px;
	margin:0;
	/*
	padding:10px 240px;
	border:1px dashed #CCC;
	*/
	-moz-user-select:none;
}

#pong {
	margin: 0 auto;
	border: 1px solid #CCC;
}

#debug {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0;
	left: 0;
	border: 1px solid #555;
	display: none;
}
